{% extends 'base.html.twig' %}

{% block title %}Lista de Siniestro{% endblock %}

{% block body %}
    <h1>Lista de Siniestros</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripcion</th>
                <th>Severidad</th>
                <th>Estado</th>
                <th>Localidad</th>
                <th>Calle</th>
                <th>Coordenadas</th>
                <th>NroActa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for siniestro in siniestros %}
            <tr>
                <td>{{ siniestro.id }}</td>
                <td>{{ siniestro.fecha ? siniestro.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ siniestro.hora ? siniestro.hora|date('H:i') : '' }}</td>
                <td>{{ siniestro.descripcion }}</td>
                <td>{{ siniestro.severidad }}</td>
                <td>{{ siniestro.estado }}</td>
                <td>{{ siniestro.localidad }}</td>
                <td>{{ siniestro.calle }}</td>
                <td>{{ siniestro.coordenadas }}</td>
                <td>{{ siniestro.nroActa }}</td>
                <td>
                    <a href="{{ path('app_siniestro_show', {'id': siniestro.id}) }}">Mostrar</a>
                    <a href="{{ path('app_siniestro_edit', {'id': siniestro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">No se encuentran resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_siniestro_new') }}">Crear nuevo</a>
{% endblock %}
