{% extends 'base.html.twig' %}

{% block title %} Lista de Rol Persona {% endblock %}

{% block body %}
    <h1>Lista de Rol Persona</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for rol_persona in rol_personas %}
            <tr>
                <td>{{ rol_persona.id }}</td>
                <td>{{ rol_persona.nombre }}</td>
                <td>
                    <a href="{{ path('app_rol_persona_show', {'id': rol_persona.id}) }}">Ver</a>
                    <a href="{{ path('app_rol_persona_edit', {'id': rol_persona.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rol_persona_new') }}">Crear nuevo</a>
{% endblock %}
