{% extends 'base.html.twig' %}

{% block title %}Lista de Persona{% endblock %}

{% block body %}
    <h1>Lista de Persona</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Fecha Nacimiento</th>
                <th>Genero</th>
                <th>Estado Civil</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.id }}</td>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.dni }}</td>
                <td>{{ persona.fechaNacimiento ? persona.fechaNacimiento|date('Y-m-d') : '' }}</td>
                <td>{{ persona.genero }}</td>
                <td>{{ persona.estadoCivil }}</td>
                <td>
                    <a href="{{ path('app_persona_show', {'id': persona.id}) }}">Ver</a>
                    <a href="{{ path('app_persona_edit', {'id': persona.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_persona_new') }}">Crear nuevo</a>
{% endblock %}
