{% extends 'base.html.twig' %}

{% block title %}Lista de Auditoria{% endblock %}

{% block body %}
    <h1>Lista de Auditoria</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Accion</th>
                <th>Entidad Afectada</th>
                <th>Fecha Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for auditorium in auditorias %}
            <tr>
                <td>{{ auditorium.id }}</td>
                <td>{{ auditorium.accion }}</td>
                <td>{{ auditorium.entidadAfectada }}</td>
                <td>{{ auditorium.fechaHora ? auditorium.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_auditoria_show', {'id': auditorium.id}) }}">Ver</a>
                    <a href="{{ path('app_auditoria_edit', {'id': auditorium.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_auditoria_new') }}">Crear nueva</a>
{% endblock %}
