{% extends 'base.html.twig' %}

{% block title %}Auditoria{% endblock %}

{% block body %}
    <h1>Auditoria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auditorium.id }}</td>
            </tr>
            <tr>
                <th>Accion</th>
                <td>{{ auditorium.accion }}</td>
            </tr>
            <tr>
                <th>EntidadAfectada</th>
                <td>{{ auditorium.entidadAfectada }}</td>
            </tr>
            <tr>
                <th>FechaHora</th>
                <td>{{ auditorium.fechaHora ? auditorium.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_auditoria_index') }}">back to list</a>

    <a href="{{ path('app_auditoria_edit', {'id': auditorium.id}) }}">edit</a>

    {{ include('auditoria/_delete_form.html.twig') }}
{% endblock %}
