{% extends 'base.html.twig' %}

{% block title %}Lista de Detalle Siniestro{% endblock %}

{% block body %}
    <h1>Lista de Detalle Siniestro</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado Alcoholico</th>
                <th>Porcentaje Alcohol</th>
                <th>Observaciones</th>
                <th>Ruta Documento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle_siniestro in detalle_siniestros %}
            <tr>
                <td>{{ detalle_siniestro.id }}</td>
                <td>{{ detalle_siniestro.estadoAlcoholico }}</td>
                <td>{{ detalle_siniestro.porcentajeAlcohol }}</td>
                <td>{{ detalle_siniestro.observaciones }}</td>
                <td>{{ detalle_siniestro.rutaDocumento }}</td>
                <td>
                    <a href="{{ path('app_detalle_siniestro_show', {'id': detalle_siniestro.id}) }}">Ver</a>
                    <a href="{{ path('app_detalle_siniestro_edit', {'id': detalle_siniestro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No hay registros encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_detalle_siniestro_new') }}">Crear nuevo</a>
{% endblock %}
