{% extends 'base.html.twig' %}

{% block title %}Detalle Siniestro{% endblock %}

{% block body %}
    <h1>Detalle Siniestro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalle_siniestro.id }}</td>
            </tr>
            <tr>
                <th>Estado Alcoholico</th>
                <td>{{ detalle_siniestro.estadoAlcoholico }}</td>
            </tr>
            <tr>
                <th>Porcentaje Alcohol</th>
                <td>{{ detalle_siniestro.porcentajeAlcohol }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ detalle_siniestro.observaciones }}</td>
            </tr>
            <tr>
                <th>Ruta Documento</th>
                <td>{{ detalle_siniestro.rutaDocumento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_detalle_siniestro_index') }}">Volver a la lista</a>

    <a href="{{ path('app_detalle_siniestro_edit', {'id': detalle_siniestro.id}) }}">Editar</a>

    {{ include('detalle_siniestro/_delete_form.html.twig') }}
{% endblock %}
